
body {
	font-family: Verdana, Geneva, sans-serif;
}

#add-items {
  #top-bar {
    margin-top: 30px;
    h3 {
      margin: 0;
    }
    .btn {
      
    }
    i {
      font-size: 2.0em;
    }
  }
}