
body {
	font-family: Verdana, Geneva, sans-serif;
}

.clear {
  clear: both;
  float: none !important;
}

#breadcrumbs {
  // overflow: auto;

  .segment {
    width: 100px;
    height: 30px;
    border: 1px solid #aaa;
    background-color: #eee;
    float: left;
    text-align: center;
    line-height: 1.9;
    box-shadow: #444 1px 1px 2px;
    font-size: 1.1em;
    font-weight: bold;


    &:hover {
      cursor: pointer;
      background-color: #fafafa;
    }

    &.active {
      cursor: default;
      background-color: #95BCF2;
    }

  }
}

#main {
  margin: 20px 3%;
  padding-bottom: 50px;
  min-width: 768px;
}

#set-quantities, #set-suppliers {
  display: none;
}

.top-bar {
  margin-top: 30px;
  .buttons {
    float: right;
    margin-left: 3%;
  }
}

.page-title {
  float: left;
  margin-right: 20px;
  line-height: 1.8;
}

.button {
  background-color: #fafafa;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: #444 1px 1px 2px;

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
  &:active {
    border-color: #999;
    background-color: #aaa;
  }
}

.next-button {
  float: right;
  font-size: 1.5em;
  margin-top: 50px;
}

.icn-btn {
  width: 75px;
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 30px;
  padding: 10px 0;

  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
  &:active {
    background-color: #ccc;
  }

  i {
  font-size: 2.0em;
  }

}

.row-inner {
  & > * {
    float: left;
  }
}

.item-row {
  height: 50px;
  padding: 0 20px;
  background-color: #CFE2FC;
  border-radius: 4px;

  .text {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.6em;
  }

  .row-buttons {
    float: right;
    text-align: right;

    .row-button {
      display: inline-block;
      background-color: #fff;
      margin-top: 4px;
      padding: 8px 10px;
      border: 1px solid #999;
      border-radius: 8px;
      margin-right: 10px;
      box-shadow: #444 1px 1px 2px;
    }
    .remove-button {
      font-size: 1.1em;
    }
  }
}

i.supplier-dropdown-button {
  margin-left: 10px;
  display: inline-block;
  font-size: 2.5em;
  line-height: 0.6;
}

.header-row {
  font-size: 1.4em;
  padding: 0 20px;
  margin-bottom: 15px;
  clear: both;

  .row-inner > * {
    text-decoration: underline;
  }
}

#add-items {

    #search {
      width: 35%;
      overflow: auto;
      margin-bottom: 35px;
    }

    #recommendations {
      margin-bottom: 30px;
      .item-row {
        background-color: #eee;
      }
    }

    #current-items{
      clear: both;
      margin-top: 30px;

      .item-row {
        
      }

      .name {
        width: 25%;
      }
      .cost {
        width: 15%
      }
      .delivery {
        width: 20%;
      }
      .supplier {
        width: 30%;
      }
      .row-buttons {
        width: 10%;
      }
    }
}

#set-quantities {

  .name {
    width: 25%;
  }
  .per-order {
    width: 20%
  }
  .number {
    width: 25%;
  }
  .total-amount {
    width: 20%;
  }
  .cost {
    width: 10%;
  }

  .plus-minus-button {
    padding: 5px 7px;
    border-radius: 15px;
    margin: 0 20px;
  }
}


#set-suppliers {

  .item-list {
    .name {
      width: 25%;
    }
    .cost {
      width: 15%
    }
    .delivery {
      width: 20%;
    }
    .supplier {
      width: 30%;
    }
    .row-buttons {
      width: 10%;
    }
  }


  h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .supplier-charges {
    margin-top: 50px;

    .item-row {
      background-color: #eee;

      .surcharge {
        font-weight: bold;
        color: #f00;
      }
    }

    .name {
      width: 25%;
    }
    .current {
      width: 20%;
    }
    .required {
      width: 20%;
    }
    .surcharge {
      width: 20%;
    }
    .total {
      width: 10%;
    }
  }
}


/* wrapper for welcome page */
#welcome {
  margin: 20px 3%;
  padding-bottom: 50px;
  min-width: 768px;

  #title-greeting {
      font-family: Verdana, Geneva, sans-serif;
  }
  
  
  #welcome-buttons {
  
  }
  
  button {
      border: 1px dashed #000000;
      padding: 20px;
      cursor: pointer;
      width: 190px;
      height: 110px;
      margin: 10px;
  }
}


/* active shipments css */
#active-shipments {
  margin: 20px 3%;
  padding-bottom: 50px;
  min-width: 768px;

  h1 {
      font-family: Verdana, Geneva, sans-serif;
  }

  h3.shipment {
      text-decoration: underline;
  }
  
  div.shipment {
      border: 1px solid #000000;
      background-color: #CFE2FC;
      padding: 12px 15px 20px 15px;
      margin: 10px;
  }

  div.shipment-late {
      border: 1px solid #000000;
      background-color: #FF9999;
      padding: 12px 15px 20px 15px;
      margin: 10px;
  }
  
  div.shipment-leftbox {
      margin: 4px;
      float: left;
  }
  
  div.shipment-rightbox {
      margin: 4px;
      float: right;
  }
  
  p.shipment-items {
      font-size: 16pt;
  }
  
  p.shipment-morelink {
      font-size: 16pt;
      margin-top: 22px;
      text-decoration: underline;
  }
  
  p.shipment-details {
      margin: 2px 0px;
  }
  
  p.shipment-details-supplier {
      text-decoration: underline;
      margin: 2px 0px;
  }
  
  p.shipment-details-link {
      margin: 2px 0px;
      text-decoration: underline;
  }
}

.recommendations {
  margin-top: 50px;

  .recommendation {
    padding: 20px;
    width: 700px;
    background-color: #E4F1DF;
    margin-top: 20px;
    border-radius: 8px;

    .text {
      font-size: 1.2em;

      .text-bullet {
        margin-left: 10px;
        &:before {
          content: '- ';
        }
      }
    }

    .buttons {
      float: right;
      font-size: 1.5em;
      .button {
        display: inline-block;
      }
    }
  }
}


#order-history {
	#order-history-header {

		clear: both;
		display: block;

		#order-search {
			float: right;
			display: block;
		}
	}

	.collapsible {
		padding:10pt;
		height:20pt;

		.collapse-open {
			background:#cecece;
		}

		.collapse-close {
			background:#cecece;
		}

		.container {
			padding:0;
			margin:0;
		}

		.content {
			background:#f0f0f0;
			margin: 0;
			padding:10px;
			font-size:.9em;
			line-height:1.5em;
		}


	}
}

